/0xCaliber/Assets/Piglet
0xCaliber/Assets/Piglet.meta
/0xCaliber/Assets/FishNet/CodeGenerating
/0xCaliber/il2cpp-build
/0xCaliber/il2cpp-build
/0xCaliber/il2cpp-build/0xCaliber_BackUpThisFolder_ButDontShipItWithYourGame
/0xCaliber/il2cpp-build/0xCaliber_BackUpThisFolder_ButDontShipItWithYourGame/Managed
